@import '../../theme/breakpoints';

.relationships {
  min-height: 685px;
  padding: 115px 0 0 0;
  overflow: hidden;

  & h2 {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-family: Overpass, sans-serif;
    font-size: 42px;
    line-height: 48px;
    font-weight: 600;
  }

  & .flex_container {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;

    & .skillContainer {
      width: 31%;

      & .htmlPic,
      & .cssPic,
      & .jsPic {
        width: 100px;
        height: 115px;
        background-size: contain;
      }

      & .htmlPic {
        background: url(../../theme/assets/html.svg) no-repeat;
      }

      & .cssPic {
        background: url(../../theme/assets/css.svg) no-repeat;

        & ~div {
          & p {
            width: 74%;
          }
        }
      }

      & .jsPic {
        background: url(../../theme/assets/javascript.svg) no-repeat;
        
        & ~div {
          & p {
            width: 95%;
          }
        }
      }
    }

    & h3 {
      margin-top: 23px;
      color: #000;
      font-family: Overpass, sans-serif;
      font-size: 26px;
      font-weight: 600;
    }

    & p {
      margin-top: 10px;
      color: #4c4b4b;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      line-height: 22px;
    }
  }
  
  @media(--tablet) {
    min-height: 775px;
    padding-top: 106px;

    & .flex_container {
      flex-direction: column;
      margin-top: 0;

      & .skillContainer {
        width: 100%;
        margin-top: 48px;
        display: flex;
        justify-content: center;

        & .htmlPic,
        & .cssPic,
        & .jsPic {
          width: 17%;
          height: 100px;
          background-size: contain;
        }

        & .skillInfo {
          width: 65%;

          & h3 {
            margin: 0;
          }

          & p {
            width: 100%;
          }
        }
      }
    }
  }
  @media(--phone) {
    padding-top: 73px;
    height: 976px;

    & h2 {
      width: 100%;
      font-size: 26px;
      line-height: 30px;
    }

    & .flex_container {
      margin-top: 0;
      flex-direction: column;

      & .skillContainer {
        margin-top: 30px;
        width: 100%;
        flex-direction: column;
        text-align: center;

        & .htmlPic,
        & .cssPic,
        & .jsPic {
          width: 30%;
          height: 100px;
          margin: 0 auto;
          background-size: contain;
          background-position: 50% 0;

          & ~div {
            & p {
              width: 100%;
            }
          }
        }

        & .skillInfo {
          & h3 {
            margin-top: 14px;
            font-size: 22px;
          }

          & p {
            width: 100%;
            margin-top: 3px;
          }
        }
      }
    }
  }
}
