@import './breakpoints';

@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
  src: local('Source Sans Pro'), url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
}

@font-face {
  font-family: 'Overpass';
  font-display: swap;
  src: local('Overpass'), url(https://fonts.googleapis.com/css?family=Overpass:600);
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {   
  /* Зачаровать шрифты */
  font-smoothing: antialiased;
  font-variant-ligatures: none;

  /**
    * Фикс для мобильного сафари, чтобы при поворотах он не склеивал и не терял контент.
    * Префиксы установлены вручную, так как на момент 13.03.2018
    * autoprefixer этого не делал автоматически.
    */
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  min-height: 100vh;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 45px;
  
  @media(--tablet) {
    padding: 0 25px;
  }

  @media(--phone) {
    padding: 0 15px;
  }
}

.disabledLink {
  cursor: default;
  pointer-events: none;
}