@import '../../theme/breakpoints';

.modal {
  position: absolute;
  margin: auto;
  width: 290px;
  height: 180px;
  padding: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  font-family: Overpass, sans-serif;

  & h4 {
    font-size: 22px;
    font-weight: 600;
  }

  & p {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 20px;
  }

  & a {
    position: absolute;
    right: 25px;
    bottom: 25px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ef6c00;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}