@import '../../theme/breakpoints';

.requirements {
  min-height: 755px;
  padding-top: 140px;
  overflow: hidden;
  background-image: url(../../theme/assets/bg-2.jpg?size=2560);
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
    background-image: url(../../theme/assets/bg-2.jpg?size=5120);
  }
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;

  & h2 {
    text-align: center;
    color: #fff;
    font-family: Overpass, sans-serif;
    font-size: 42px;
    font-weight: 600;
  }

  & .flex_container {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;

    & div {
      width: 49%;
    }

    & p {
      margin-bottom: 22px;
      color: #fefefe;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      line-height: 22px;
    }

    & .manLaptop {
      margin-top: 16px;
      width: 46%;
      background: url(../../theme/assets/man-laptop-v1.svg) no-repeat;
      background-size: contain;
    }
  }
  @media(--tablet) {
    min-height: 875px;
    height: 100%;
    padding-top: 115px;
    background-image: url(../../theme/assets/bg-2.jpg?size=768);
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
      background-image: url(../../theme/assets/bg-2.jpg?size=1536);
    }

    & h2 {
      margin: 0 auto;
      max-width: 420px;
      line-height: 50px;
    }

    & .flex_container {
      margin-top: 36px;

      & div {
        width: 48%;
      }

      & .manLaptop {
        width: 48%;
        background: url(../../theme/assets/man-laptop-v2.svg) no-repeat;
        background-size: contain;
      }
    }
  }
  @media(--phone) {
    min-height: 1032px;
    padding-top: 70px;
    background-image: url(../../theme/assets/bg-2.jpg?size=480);
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
      background-image: url(../../theme/assets/bg-2.jpg?size=960);
    }

    & h2 {
      font-size: 26px;
      line-height: 30px;
    }

    & .flex_container {
      margin-top: 0;
      flex-direction: column-reverse;
      text-align: center;

      & div {
        width: 100%;
      }

      & .manLaptop {
        width: 94%;
        height: 219px;
        margin-top: 22px;
        background-position: 50% 0;
      }

      & p {
        margin-top: 20px;
      }
    }
  }
}
